@model List<SuperheroCreatorProject.Models.Superhero>
@foreach (var item in Model)
{

    <tr>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @*@Html.ActionLink()*@


        </td>
    </tr>
}
